<div fxLayout="row wrap">
  <div class="hi-header-one" fxFlex="20%">
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <span>Hi One</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>

  <div class="add-video-metadata-header" fxFlex="30%">
    <!-- Video Metadata Header -->
    <mat-toolbar color="secondary">
      <mat-toolbar-row>
        <span>Video Metadata</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <br/>

    <form [formGroup]="saveVideoDetailsForm">
      <!-- Title -->
      <mat-form-field appearance="fill">
        <mat-label>Video Title</mat-label>
        <input matInput [formControl]="title" required>
      </mat-form-field>

      <br/>

      <!-- Description -->
      <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <input matInput [formControl]="description" required>
      </mat-form-field>

      <br/>

      <!-- Listing -->
      <mat-form-field appearance="fill">
        <mat-label>Video Status</mat-label>
        <mat-select [formControl]="videoStatus">
          <mat-option value="PUBLIC">Public</mat-option>
          <mat-option value="PRIVATE">Private</mat-option>
          <mat-option value="UNLISTED">Unlisted</mat-option>
        </mat-select>
      </mat-form-field>

      <!-- Tags -->
      <div>
        <mat-form-field class="example-chip-list" appearance="fill">
          <mat-label>Tags</mat-label>
          <mat-chip-list #chipList aria-label="Fruit selection">
            <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                      (removed)="remove(tag)">
              {{tag}}
              <button matChipRemove *ngIf="removable">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip>
            <input placeholder="Add Tag..."
                   [matChipInputFor]="chipList"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="addOnBlur"
                   (matChipInputTokenEnd)="add($event)">
          </mat-chip-list>
        </mat-form-field>
      </div>

      <div>
        <button type="submit" mat-raised-button color="primary">Save Details</button>
      </div>
    </form>

  </div>

  <div class="video-player-header" fxFlex="30%">
    <!-- Add Video Metadata Header -->
    <mat-toolbar color="secondary">
      <mat-toolbar-row>
        <span>Video Player</span>
      </mat-toolbar-row>
    </mat-toolbar>

    <app-video-player *ngIf="videoUrlAvailable" [videoUrl]="videoUrl"></app-video-player>
    <div *ngIf="showVideoUrl">
      <h1>You can now view the video at - </h1>
      <a href="">http://localhost:4200/video/{{videoId}}</a>
    </div>
  </div>

  <div class="hi-header-two" fxFlex="20%">
    <!-- Add Video Metadata Header -->
    <mat-toolbar color="secondary">
      <mat-toolbar-row>
        <span>Hi Two</span>
      </mat-toolbar-row>
    </mat-toolbar>
  </div>
</div>
